html {
    color: #fff;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
}
#main {
    background-color: rgb(70, 76, 87);
    width: 70%;
    overflow: hidden;
    height: 100vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    padding-left: 5px;
    font-size: 4em;
}
.flex-nav {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 70%;
    height: 100vh;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(55 65 81); 
}
nav .nav1, .nav2, .nav3, .nav4 {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #fff;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: #fff;
    transition: transform 2s ease;

}
a:hover {
    cursor: pointer;
    transform: scale(1.2);
}
/*
nav .nav1 {
    background-color: rgb(59, 21, 121);
}
nav .nav2 {
    background-color: #ff6103;
}
nav .nav3 {
    background-color: #ff6103;
}
nav .nav4 {
    background-color: #ff6103;
}
*/
/* Animated Background */
.squares{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    overflow: hidden;
}
.leftToRight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.leftToRight li {
    position: absolute;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animateLeft 25s linear infinite;
}
.leftToRight li:nth-child(1) {
    bottom: 150px;
    width: 80px;
    height: 5px;
    animation-delay: 0s;
}
.squares li{
    position: absolute;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: 1;
}
.squares li:nth-child(1){
    left: 25%;
    width: 5px;
    height: 80px;
    animation-delay: 0s;
}
.squares li:nth-child(2){
    left: 10%;
    width: 3px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 10s;
}
.squares li:nth-child(3){
    left: 10%;
    width: 4px;
    height: 20px;
    animation-delay: 4s;
}
.squares li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 13s;
}
.squares li:nth-child(5){
    left: 35%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.squares li:nth-child(6){
    left: 20%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.squares li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.squares li:nth-child(8){
    left: 70%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 11s;
}
.squares li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 10s;
}
.squares li:nth-child(10){
    left: 3%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.squares li:nth-child(11){
    left: 65%;
    width: 4px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.squares li:nth-child(12){
    left: 30%;
    width: 3px;
    height: 200px;
    animation-delay: 1s;
    animation-duration: 7s;
}
.squares li:nth-child(12){
    left: 28%;
    width: 4px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 9s;
}
.squares li:nth-child(13){
    left: 58%;
    width: 3px;
    height: 20px;
    animation-delay: 4s;
    animation-duration: 9s;
}
.squares li:nth-child(14){
    left: 45%;
    width: 4px;
    height: 20px;
    animation-delay: 2s;
}
.squares li:nth-child(15){
    left: 15%;
    width: 40px;
    height: 50px;
    animation-delay: 6s;
    animation-duration: 10s;
}
.squares li:nth-child(16){
    left: 48%;
    bottom: -200px;
    width: 200px;
    height: 200px;
    animation-delay: 3s;
    animation-duration: 10s;
}
.squares li:nth-child(17){
    left: 63%;
    width: 40px;
    height: 50px;
    animation-delay: 6s;
    animation-duration: 10s;
}
.squares li:nth-child(18){
    left: 90%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 11s;
}
.squares li:nth-child(19){
    left: 950%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 10s;
}
.squares li:nth-child(20){
    left: 74%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.squares li:nth-child(21){
    left: 89%;
    width: 4px;
    height: 150px;
    animation-delay: 3s;
    animation-duration: 10s;
}
/* Card */
.card {
    border-radius: 15px;
    width: 500px;
    height: auto;
    background-color: rgb(107 114 128);
    position: absolute;
    z-index: 2;
}
.card h1 {
    font-size: 3rem;
    text-align: center;
}
.card .desc {
    font-size: 1.24rem;
    white-space: normal;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
} 
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1200px);
        opacity: 0;
    }
}
@keyframes animateLeft {
    0%{
        transform: translateX(0);
        opacity: 1;
    }

    100%{
        transform: translateX(70vw);
        opacity: 0;
    }
}
@media (max-width: 480px) {
    .squares li:nth-child(20){
        display: none;
    }
    .squares li:nth-child(16){
        display: none;
    }
    .flex-nav {
        display: none;
    }
    #main {
        width: 100%;
    }
    .card {
        width: 65%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
}